<ion-modal-view>
  <ion-header-bar>

  </ion-header-bar>
  <ion-content>
    <br>
    <br>
    <br>

    <form ng-submit="doLogin()">
        <img class="cole" src="images/logo_cole-19.png">
        <h3 class="colegio">Instituto Nacional</h3>


      <br>
      <br>
      <br>

          <button class="button button-block button-positive" type="submit">LOGIN CON FACEBOOK</button>

      <ion-checkbox class="checkbox-royal" style="margin-left: 105px; border-width:0 " ng-model="data.isChecked">Soy Profesor</ion-checkbox>

    </form>
  </ion-content>
</ion-modal-view>
