<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>

      <div class = "item item-avatar-left">
        <img src="{{picture}}">
        <h2>{{name}}</h2>
        <p>{{rol}}</p>
      </div>
      <ion-list>
        <div class="item item-divider">
          Mis Cursos
        </div>
        <div ng-repeat="class in classes">
          <ion-item menu-close ng-click="goToClass(class.id)">
            {{class.name}}
          </ion-item>
        </div>
        <div class="item item-divider">
          Opciones
        </div>
          <ion-item menu-close ng-click="goToConfig()">
            Configuración
          </ion-item>
        <ion-item menu-close ng-click="logOut()">
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
