

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actividad Reciente</title>
</head>
<body>
<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab
    title="Reciente"
    icon="my-icon"
    href="#/logged/class/recentActivity">
    <ion-nav-view name="logged-class-recent"></ion-nav-view>
  </ion-tab>

  <ion-tab
    title="Avisos"
    icon="my-icon"
    on-select="onTabSelected()"
    on-deselect="onTabDeselected()"
    href="#/logged/class/news">
    <ion-nav-view name="logged-class-news"></ion-nav-view>
  </ion-tab>

  <ion-tab
    title="Multimedia"
    icon="my-icon"
    on-select="onTabSelected()"
    on-deselect="onTabDeselected()"
    href="#/logged/class/media">
    <ion-nav-view name="logged-class-media"></ion-nav-view>
  </ion-tab>

</ion-tabs>
</body>
</html>

