<ion-view view-title="Media">
    <ion-header-bar class="clase">
        Holi
    </ion-header-bar>
  <ion-content ng-controller="mediaCtrl" padding="true">
    <button class="button button-full button-assertive" ng-click="takePhoto()">
        Tomar foto
    </button>
    <button class="button button-full button-assertive" ng-click="choosePhoto()">
        Elegir foto
    </button>
    <center>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center"></center>
  </ion-content>
</ion-view>
