<ion-view view-title="Media">
    <ion-header-bar class="clase">
        Holi
    </ion-header-bar>
  <ion-content ng-controller="mediaCtrl" padding="true">
    <div ng-if="rol === 'Profesor'">
    <button class="button button-full button-assertive newav" ng-click="takePhoto()">
        Tomar foto
    </button>
    <button class="button button-full button-assertive newav" ng-click="choosePhoto()">
        Elegir foto
    </button>
      <br><br>
    </div>



    <div ng-repeat="album in albums">

      <div class="item item-divider">
        <i class="ion-images"></i>
        {{album.title}}
      </div>
      <a class="item item-list-detail">
        <img ng-repeat="image in album.images" ng-src="{{image.src}}" ng-click="showImages($index,album)" class="image-list-thumb"/>
      </a>

      <br>
    </div>


  </ion-content>
</ion-view>
