<ion-view view-title="News">
  <ion-content>

    <div ng-if="!dataReady">
      <ion-spinner style="margin-left:200px;" icon="spiral">
      </ion-spinner>
    </div>

    <div ng-if="dataReady">
      <div ng-repeat="card in cards">

        <div class="row">
          <div class="col col-20">
            <img src="/img/ionic.png">
          </div>
          <div class="col col-80">

            <div class="card">
              <div class="item item-divider">
                {{card.title}}
              </div>
              <div class="item item-text-wrap">
                {{card.body}}
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
