<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Escribe un nuevo anuncio</h1>
    <button class="button button-icon icon ion-android-close" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
     <textarea placeholder="Título" ng-model="data.title" class="newpost">
      </textarea>
    <textarea placeholder="Mensaje" ng-model="data.body" class="newpostbody">
      </textarea>

    <button class="button button-assertive enviar" ng-click="sendNew()">
  ENVIAR
</button>
  </ion-content>
</ion-modal-view>
