<ion-view view-title="Config">
  <ion-content>

      <img class="config" src={{picture}}>
      <h2 class="config">{{name}}</h2>

      <ion-list show-delete="shouldShowDelete">
        <div class="item item-divider">
          Administrar mis Cursos
        </div>
        <div ng-repeat="class in myClasses">
          <ion-item class="item-icon-right">
            {{class.name}}
            <i class="icon ion-ios-close-outline" ng-click="deleteClass(class)"></i>
          </ion-item>
        </div>

        <div class="item item-divider">
          Unirse a nuevo curso
        </div>
        <ion-item class="item-icon-right">
          <input ng-model="data.code" placeholder="Ingresa el código de curso">
          <i class="icon ion-android-checkbox-outline" ng-click="addClass()"></i>
        </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
